:root {
  --bg: #fff;
  --fg: #222;
  --hl-fg: black;
  --hl-bg:#e8e8e8;
  --link: #125E89;
  --border: #ddd;

  --green: #598700;
  --red: #A11C42;
  --yellow: #CA9F00;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg: #222;
  --fg: #ddd;
  --hl-fg: #ddd;
  --hl-bg:#333;
  --link:#1f9be2;

  --green: #7bba00;
  --red: #df4470;
  --yellow: #fdc700;
  }
}


body {
  font-family: 'Roboto', sans-serif;
  color:var(--fg);

  background-color: var(--bg);
  padding: 1em .5em;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.icon {
  color: var(--link);
  text-decoration: none;
  font-size: 200%;
  padding: 0 0.3em;
  display: inline-block;
}

a.icon:hover {
  background-color: var(--hl-bg);
  color: var(--hl-fg);
}

tbody > tr:first-child{
  border-bottom: 2px solid var(--border);
}
tbody > tr:last-child{
  border-bottom: 2px solid var(--border);
}

table {
  font-family: 'Roboto Condensed', sans-serif;
  border-collapse: collapse;
}
tr:hover {
  background-color: var(--hl-bg);
  color: var(--hl-fg);
}
tr > td:nth-child(1) {
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
}
td {
  padding-left: 5px;
  padding-right: 5px;
}

th > button {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: solid;
}

pre {
  font-family: 'Roboto Mono', monospace;
  color: var(--fg);
  font-size: 85%;
  line-height: 1.3em;
}

.success {
  color: var(--green);
}
.success > a {
  color: var(--green);
}
.success > button {
  color: var(--green);
}

.failed {
  color: var(--red);
}
.failed > a {
  color: var(--red);
}
.failed > button {
  color: var(--red);
}


h1,h2,h3,h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--fg);
  font-weight: normal;
}

h1 {
  border-top: 2px solid var(--yellow);
  color: var(--fg);
}
h4 {
  margin: 0;
}

h1 { font-size: 1.9em; }
h2 { font-size: 1.55em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }

.success-invert {
  background-color: var(--green);
  color: var(--bg);
}
.success-invert > a {
  color: var(--bg);
}

.failed-invert {
  background-color: var(--red);
  color: var(--bg);
}
.failed-invert > a {
  color: var(--bg);
}


button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  color:var(--link);
}

button:hover {
  text-decoration: underline;
}
